@model IEnumerable<TopJobs.Models.JobExperienceEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Experience</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th>
                Position
            </th>
            <th>
                Level
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @(item.DateStarted.ToShortDateString())
            </td>
            <td>
                @{ if (item.DateFinished != null)
                    {
                        @(item.DateFinished.Value.Date.ToShortDateString());
                    }
                    else
                    {
                        @("Ongoing")
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionType.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
