@model TopJobs.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Based in
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Visit our site
        </dt>
        <dd class = "col-sm-10">
            <a href="https://www.@Model.SiteUrl/">@Model.SiteUrl</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
