@model TopJobs.Models.JobAd

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    @if (Model.Company.Logo != null)
    {
        <img style=" display:inline;width:40px;height:40px; object-fit:cover; border-radius:10px" src="data:image/*;base64,@(Convert.ToBase64String(Model.Company.Logo))">
    }
    <h4 style="display: inline"><a asp-action="Details" asp-controller="Companies" asp-route-id="@Model.CompanyId">@Model.Company.Name</a></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Position
        </dt>
        <dd class="col-sm-10">
            @Model.Preference.PositionType.Level @Model.Preference.PositionType.Name
        </dd>
        <dt class="col-sm-4">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-4">
            City
        </dt>
        <dd class="col-sm-10">
            @Model.Company.City
        </dd>
        <dt class="col-sm-4">
            Working Hours
        </dt>
        <dd class="col-sm-10">
            @Model.Preference.WorkingHours
        </dd>
        @if (Model.Preference.FlexibleSchedule.HasValue)
        {
            <dt class="col-sm-4">
                Flexible Schedule
            </dt>
            @if (Model.Preference.FlexibleSchedule == true)
            {
                <dd class="col-sm-10">
                    Yes
                </dd>
            }
            else if (Model.Preference.FlexibleSchedule == false)
            {
                <dd class="col-sm-10">
                    No
                </dd>
            }
        }
        @if (Model.Preference.WorkFromHome.HasValue)
        {
            <dt class="col-sm-4">
                Work From Home
            </dt>
            @if (Model.Preference.WorkFromHome == true)
            {
                <dd class="col-sm-10">
                    Yes
                </dd>
            }
            else if (Model.Preference.WorkFromHome == false)
            {
                <dd class="col-sm-10">
                    No
                </dd>
            }
        }
        <dt class="col-sm-4">
            Required Experience
        </dt>
        <dd class="col-sm-10">
            @Model.RequiredExperience years
        </dd>
        @if (Model.Preference.TechnologyPreferences.Any())
        {
            <dt class="col-sm-4">
                Experience With
            </dt>
            <dd class="col-sm-10">
                @foreach (var technologyPreference in Model.Preference.TechnologyPreferences)
                {
                    <span style="margin-right: 15px">
                        @technologyPreference.Technology.Name
                    </span>
                }
            </dd>
        }
        <dt class="col-sm-4">
            Date Submitted
        </dt>
        <dd class="col-sm-10">
            @Model.DateSubmitted.ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create" asp-controller="JobApplications" asp-route-jobAdId="@Model.Id">Apply</a> |
    <a asp-action="Index">Back to List</a>
</div>
