@model TopJobs.Models.Preference

@{
    ViewData["Title"] = "Create";
}

<h1>Add preferences</h1>

<h4>What should your applicants be looking for?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="display: none;">
                <label asp-for="PositionTypeId" class="control-label"></label>
                <select asp-for="PositionTypeId" class="form-control" asp-items="ViewBag.PositionTypeId"></select>
                <span asp-validation-for="PositionTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Position</label>
                <input type="text" name="positionTypeName" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Position Level</label>
                <select name="positionTypeLevel" class="form-control">
                    <option>-</option>
                    <option>Intern</option>
                    <option selected="selected">Junior</option>
                    <option>Mid</option>
                    <option>Senior</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="WorkingHours" class="control-label">Working Hours</label>
                <input asp-for="WorkingHours" class="form-control" />
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlexibleSchedule" class="control-label">Flexible Schedule</label>
                <select asp-for="FlexibleSchedule" class="form-control">
                    <option></option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
                <span asp-validation-for="FlexibleSchedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkFromHome" class="control-label">Work From Home</label>
                <select asp-for="WorkFromHome" class="form-control">
                    <option></option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
                <span asp-validation-for="WorkFromHome" class="text-danger"></span>
            </div>
            <label class="control-label" style="margin-bottom: 15px;">Preferred technologies</label>
            @for (int i = 0; i < ViewBag.Technologies.Count / 3; i++)
            {
                <div class="form-row">
                    @for (int j = 0; j < 3; j++)
                    {
                        bool isChecked = false;

                        <div class="form-group form-check" style="margin-right: auto;">
                            <label class="form-check-label">
                                @foreach (var technologyPreference in ViewBag.TechnologyPreferences)
                                {
                                    @if (technologyPreference == @ViewBag.Technologies[i * 3 + j].Name)
                                    {
                                        <input type="checkbox" class="form-check-input" name="mycheckboxes" value="@ViewBag.Technologies[i * 3 + j].Name" onchange="passSelectedTechnologies()" checked /> @ViewBag.Technologies[i * 3 + j].Name
                                        isChecked = true;
                                        continue;
                                    }
                                }
                                @if (!isChecked)
                                {
                                    <input type="checkbox" class="form-check-input" name="mycheckboxes" value="@ViewBag.Technologies[i * 3 + j].Name" onchange="passSelectedTechnologies()" /> @ViewBag.Technologies[i * 3 + j].Name

                                }

                            </label>
                        </div>
                    }
                </div>
            }
            <div class="form-group">
                <input name="TechnologiesSelected" for="TechnologiesSelected" value="'none'" style="display: none;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
